.tree-list {
  position: absolute;
  top: 65px;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.tree-list-container {
  outline: none;
  border: none;
}

.luger-logo-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -900;
}

.luger-logo {
  opacity: 0.1;
}

.draggable-container--is-dragging {
  outline: none;
  border: none;
}

.draggable-container--placed {
  outline: none;
  border: none;
}

.draggable-container--over {
  outline: none;
  border: none;
}

.draggable-mirror {
  width: 100%;
}
